body {
    font-family: 'Segoe UI', 'Tahoma', sans-serif;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

#wrapper {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 40px;
}

.tahoma {
    font-family: Tahoma;
}

.arial {
    font-family: arial;
}

.nazli {
    font-family: Nazli;
}

#inputText, #boxes {
    width: 600px;
    height: 200px;
}

.bold {
    height: 200px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

p {
    margin: 0;
}

#canvas {
    display: none;
}

input[type=number] {
    width: 40px;
}